In [1]:
import pandas as pd
import matplotlib.pyplot as plt

C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
dataset = pd.read_csv("books.csv")
dataset.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,6,11870085,11870085,16827462,226,525478817,9.780525e+12,John Green,2012.0,The Fault in Our Stars,...,2346404,2478609,140739,47994,92723,327550,698471,1311871,https://images.gr-assets.com/books/1360206420m...,https://images.gr-assets.com/books/1360206420s...
4,12,13335037,13335037,13155899,210,62024035,9.780062e+12,Veronica Roth,2011.0,Divergent,...,1903563,2216814,101023,36315,82870,310297,673028,1114304,https://images.gr-assets.com/books/1328559506m...,https://images.gr-assets.com/books/1328559506s...

In [3]:
dataset.dropna(inplace=True)
dataset.drop_duplicates(inplace=True)
dataset['original_publication_year'] = dataset['original_publication_year'].astype(int)
columns_to_drop = ['book_id', 'goodreads_book_id', 'best_book_id', 'work_id', 'isbn', 'isbn13', 'language_code', 'image_url', 'small_image_url']
dataset.drop(columns=columns_to_drop, inplace=True)
dataset.head()

,books_count,authors,original_publication_year,original_title,title,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,272,Suzanne Collins,2008,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317
1,491,"J.K. Rowling, Mary GrandPré",1997,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543
2,226,Stephenie Meyer,2005,Twilight,"Twilight (Twilight, #1)",3.57,3866839,3916824,95009,456191,436802,793319,875073,1355439
3,226,John Green,2012,The Fault in Our Stars,The Fault in Our Stars,4.26,2346404,2478609,140739,47994,92723,327550,698471,1311871
4,210,Veronica Roth,2011,Divergent,"Divergent (Divergent, #1)",4.24,1903563,2216814,101023,36315,82870,310297,673028,1114304

In [4]:
harry_potter_books = dataset[dataset['original_title'].str.contains('harry potter', case=False) | dataset['title'].str.contains('harry potter', case=False)]
harry_potter_books.head()

,books_count,authors,original_publication_year,original_title,title,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
1,491,"J.K. Rowling, Mary GrandPré",1997,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543
6,376,"J.K. Rowling, Mary GrandPré, Rufus Beck",1999,Harry Potter and the Prisoner of Azkaban,Harry Potter and the Prisoner of Azkaban (Harr...,4.53,1832823,1969375,36099,6716,20413,166129,509447,1266670
8,307,"J.K. Rowling, Mary GrandPré",2003,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix (Har...,4.46,1735368,1840548,28685,9528,31577,180210,494427,1124806
9,398,"J.K. Rowling, Mary GrandPré",1998,Harry Potter and the Chamber of Secrets,Harry Potter and the Chamber of Secrets (Harry...,4.37,1779331,1906199,34172,8253,42251,242345,548266,1065084
10,332,"J.K. Rowling, Mary GrandPré",2000,Harry Potter and the Goblet of Fire,Harry Potter and the Goblet of Fire (Harry Pot...,4.53,1753043,1868642,31084,6676,20210,151785,494926,1195045

In [6]:
print("Harry Potter Books Average Rating:", harry_potter_books['average_rating'].mean())

Average ratings:
Harry Potter Books Average Rating: 4.4910000000000005

In [8]:
most_selling_books = harry_potter_books.sort_values(by='ratings_count', ascending=False).head(5)

print("Most Selling Harry Potter Books:")
print(most_selling_books[['title', 'ratings_count']])

Most Selling Harry Potter Books:
                                                title  ratings_count
1   Harry Potter and the Sorcerer's Stone (Harry P...        4602479
6   Harry Potter and the Prisoner of Azkaban (Harr...        1832823
9   Harry Potter and the Chamber of Secrets (Harry...        1779331
10  Harry Potter and the Goblet of Fire (Harry Pot...        1753043
11  Harry Potter and the Deathly Hallows (Harry Po...        1746574